In [1]:
!pip3 install matplotlib

Requirement already satisfied: matplotlib in c:\users\sy_higas\l\anaconda3\lib\site-packages (3.7.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from matplotlib) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.20 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from matplotlib) (1.24.3)
Requirement already satisfied: packaging>=20.0 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from matplotlib) (9.4.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [2]:
!pip3 install yfinance

Requirement already satisfied: yfinance in c:\users\sy_higas\l\anaconda3\lib\site-packages (0.2.37)
Requirement already satisfied: pandas>=1.3.0 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from yfinance) (2.0.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from yfinance) (1.24.3)
Requirement already satisfied: requests>=2.31 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from yfinance) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from yfinance) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from yfinance) (2.4.0)
Requirement already satisfied: peewee>=3.16.2 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from yfinance) (3.17.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: six>=1.9 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\sy_higas\l\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2023.7.22)

In [62]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

%matplotlib inline

In [63]:



tickers = {
    'apple':'AAPL',
    'facebook': 'META',
    'google': 'GOOGL',
    'microsoft': 'MSFT',
    'netflix': 'NFLX',
    'amazon': 'AMZN'
}



def get_data(days, tickers):
    df = pd.DataFrame()
    for company in tickers.keys():
    #company = 'facebook'
    
        tkr = yf.Ticker(tickers[company])
        hist = tkr.history(period=f'{days}d')
        hist.index = hist.index.strftime('%d %B %Y')
        hist = hist[['Close']]
        hist.columns = [company]
        hist = hist.T
        hist.index.name = 'Name'
        df = pd.concat([df, hist])
    return df

In [70]:
days = 30
df=get_data(days, tickers)

In [71]:
!pip3 install altair

Requirement already satisfied: altair in c:\users\sy_higas\l\anaconda3\lib\site-packages (5.2.0)
Requirement already satisfied: jinja2 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from altair) (3.1.2)
Requirement already satisfied: jsonschema>=3.0 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from altair) (4.17.3)
Requirement already satisfied: numpy in c:\users\sy_higas\l\anaconda3\lib\site-packages (from altair) (1.24.3)
Requirement already satisfied: packaging in c:\users\sy_higas\l\anaconda3\lib\site-packages (from altair) (23.1)
Requirement already satisfied: pandas>=0.25 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from altair) (2.0.3)
Requirement already satisfied: toolz in c:\users\sy_higas\l\anaconda3\lib\site-packages (from altair) (0.12.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from jsonschema>=3.0->altair) (22.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from jsonschema>=3.0->altair) (0.18.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from pandas>=0.25->altair) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from pandas>=0.25->altair) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from pandas>=0.25->altair) (2023.3)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from jinja2->altair) (2.1.1)
Requirement already satisfied: six>=1.5 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=0.25->altair) (1.16.0)

In [72]:
import altair as alt

In [73]:
df

Date,28 February 2024,29 February 2024,01 March 2024,04 March 2024,05 March 2024,06 March 2024,07 March 2024,08 March 2024,11 March 2024,12 March 2024,...,27 March 2024,28 March 2024,01 April 2024,02 April 2024,03 April 2024,04 April 2024,05 April 2024,08 April 2024,09 April 2024,10 April 2024
Name,,,,,,,,,,,,,,,,,,,,,
apple,181.419998,180.750000,179.660004,175.100006,170.119995,169.119995,169.000000,170.729996,172.750000,173.229996,...,173.309998,171.479996,170.029999,168.839996,169.649994,168.820007,169.580002,168.449997,169.669998,167.779999
facebook,484.019989,490.130005,502.299988,498.190002,490.220001,496.089996,512.190002,505.950012,483.589996,499.750000,...,493.859985,485.579987,491.350006,497.369995,506.739990,510.920013,527.340027,519.250000,516.900024,519.830017
google,136.380005,138.460007,137.139999,133.350006,132.669998,131.399994,134.380005,135.410004,137.669998,138.500000,...,150.869995,150.929993,155.490005,154.559998,154.919998,150.529999,152.500000,154.850006,156.600006,156.139999
microsoft,407.720001,413.640015,415.500000,414.920013,402.649994,402.089996,409.140015,406.220001,404.519989,415.279999,...,421.429993,420.720001,424.570007,421.440002,420.450012,417.880005,425.519989,424.589996,426.279999,423.260010
netflix,596.479980,602.919983,619.340027,615.830017,598.500000,597.690002,608.510010,604.820007,600.929993,611.080017,...,613.530029,607.330017,614.309998,614.210022,630.080017,617.140015,636.179993,628.409973,618.200012,618.580017
amazon,173.160004,176.759995,178.220001,177.580002,174.119995,173.509995,176.820007,175.350006,171.960007,175.389999,...,179.830002,180.380005,180.970001,180.690002,182.410004,180.000000,185.070007,185.190002,185.669998,185.949997

In [74]:
companies = ['apple', 'facebook']
data = df.loc[companies]
data

Date,28 February 2024,29 February 2024,01 March 2024,04 March 2024,05 March 2024,06 March 2024,07 March 2024,08 March 2024,11 March 2024,12 March 2024,...,27 March 2024,28 March 2024,01 April 2024,02 April 2024,03 April 2024,04 April 2024,05 April 2024,08 April 2024,09 April 2024,10 April 2024
Name,,,,,,,,,,,,,,,,,,,,,
apple,181.419998,180.750000,179.660004,175.100006,170.119995,169.119995,169.000000,170.729996,172.750000,173.229996,...,173.309998,171.479996,170.029999,168.839996,169.649994,168.820007,169.580002,168.449997,169.669998,167.779999
facebook,484.019989,490.130005,502.299988,498.190002,490.220001,496.089996,512.190002,505.950012,483.589996,499.750000,...,493.859985,485.579987,491.350006,497.369995,506.739990,510.920013,527.340027,519.250000,516.900024,519.830017

In [75]:
data.sort_index()

Date,28 February 2024,29 February 2024,01 March 2024,04 March 2024,05 March 2024,06 March 2024,07 March 2024,08 March 2024,11 March 2024,12 March 2024,...,27 March 2024,28 March 2024,01 April 2024,02 April 2024,03 April 2024,04 April 2024,05 April 2024,08 April 2024,09 April 2024,10 April 2024
Name,,,,,,,,,,,,,,,,,,,,,
apple,181.419998,180.750000,179.660004,175.100006,170.119995,169.119995,169.000000,170.729996,172.750000,173.229996,...,173.309998,171.479996,170.029999,168.839996,169.649994,168.820007,169.580002,168.449997,169.669998,167.779999
facebook,484.019989,490.130005,502.299988,498.190002,490.220001,496.089996,512.190002,505.950012,483.589996,499.750000,...,493.859985,485.579987,491.350006,497.369995,506.739990,510.920013,527.340027,519.250000,516.900024,519.830017

In [76]:
data = data.T.reset_index()
data.head()

Name              Date       apple    facebook
0     28 February 2024  181.419998  484.019989
1     29 February 2024  180.750000  490.130005
2        01 March 2024  179.660004  502.299988
3        04 March 2024  175.100006  498.190002
4        05 March 2024  170.119995  490.220001

In [77]:
data = pd.melt(data, id_vars=['Date']).rename(
    columns={'value': 'Stock Prices(USD)'}
)
data

                Date      Name  Stock Prices(USD)
0   28 February 2024     apple         181.419998
1   29 February 2024     apple         180.750000
2      01 March 2024     apple         179.660004
3      04 March 2024     apple         175.100006
4      05 March 2024     apple         170.119995
5      06 March 2024     apple         169.119995
6      07 March 2024     apple         169.000000
7      08 March 2024     apple         170.729996
8      11 March 2024     apple         172.750000
9      12 March 2024     apple         173.229996
10     13 March 2024     apple         171.130005
11     14 March 2024     apple         173.000000
12     15 March 2024     apple         172.619995
13     18 March 2024     apple         173.720001
14     19 March 2024     apple         176.080002
15     20 March 2024     apple         178.669998
16     21 March 2024     apple         171.369995
17     22 March 2024     apple         172.279999
18     25 March 2024     apple         170.850006
19     26 March 2024     apple         169.710007
20     27 March 2024     apple         173.309998
21     28 March 2024     apple         171.479996
22     01 April 2024     apple         170.029999
23     02 April 2024     apple         168.839996
24     03 April 2024     apple         169.649994
25     04 April 2024     apple         168.820007
26     05 April 2024     apple         169.580002
27     08 April 2024     apple         168.449997
28     09 April 2024     apple         169.669998
29     10 April 2024     apple         167.779999
30  28 February 2024  facebook         484.019989
31  29 February 2024  facebook         490.130005
32     01 March 2024  facebook         502.299988
33     04 March 2024  facebook         498.190002
34     05 March 2024  facebook         490.220001
35     06 March 2024  facebook         496.089996
36     07 March 2024  facebook         512.190002
37     08 March 2024  facebook         505.950012
38     11 March 2024  facebook         483.589996
39     12 March 2024  facebook         499.750000
40     13 March 2024  facebook         495.570007
41     14 March 2024  facebook         491.829987
42     15 March 2024  facebook         484.100006
43     18 March 2024  facebook         496.980011
44     19 March 2024  facebook         496.239990
45     20 March 2024  facebook         505.519989
46     21 March 2024  facebook         507.760010
47     22 March 2024  facebook         509.579987
48     25 March 2024  facebook         503.019989
49     26 March 2024  facebook         495.890015
50     27 March 2024  facebook         493.859985
51     28 March 2024  facebook         485.579987
52     01 April 2024  facebook         491.350006
53     02 April 2024  facebook         497.369995
54     03 April 2024  facebook         506.739990
55     04 April 2024  facebook         510.920013
56     05 April 2024  facebook         527.340027
57     08 April 2024  facebook         519.250000
58     09 April 2024  facebook         516.900024
59     10 April 2024  facebook         519.830017

In [78]:
ymin, ymax = 450, 550

chart = (
    alt.Chart(data)
    .mark_line(opacity=0.8, clip=True)
    .encode(
        x="Date:T",
        y=alt.Y("Stock Prices(USD):Q", stack=None, scale=alt.Scale(domain=[ymin, ymax])),
        color='Name:N'
    )
)

In [79]:
chart

alt.Chart(...)