In [10]:
!pip3 install yfinance

Requirement already satisfied: yfinance in c:\users\sy_higas\l\anaconda3\lib\site-packages (0.2.37)
Requirement already satisfied: pandas>=1.3.0 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from yfinance) (2.0.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from yfinance) (1.24.3)
Requirement already satisfied: requests>=2.31 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from yfinance) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from yfinance) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from yfinance) (2.4.0)
Requirement already satisfied: peewee>=3.16.2 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from yfinance) (3.17.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: six>=1.9 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\sy_higas\l\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2023.7.22)

In [12]:
!pip3 install matplotlib

Requirement already satisfied: matplotlib in c:\users\sy_higas\l\anaconda3\lib\site-packages (3.7.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from matplotlib) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.20 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from matplotlib) (1.24.3)
Requirement already satisfied: packaging>=20.0 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from matplotlib) (9.4.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

%matplotlib inline

In [13]:
aapl = yf.Ticker('AAPL')

In [14]:
aapl

yfinance.Ticker object <AAPL>

In [22]:
days = 10
hist = aapl.history(period = f'{days}d')
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-03-14 00:00:00-04:00,172.910004,174.309998,172.050003,173.000000,72913500,0.0,0.0
2024-03-15 00:00:00-04:00,171.169998,172.619995,170.289993,172.619995,121664700,0.0,0.0
2024-03-18 00:00:00-04:00,175.570007,177.710007,173.520004,173.720001,75604200,0.0,0.0
2024-03-19 00:00:00-04:00,174.339996,176.610001,173.029999,176.080002,55215200,0.0,0.0
2024-03-20 00:00:00-04:00,175.720001,178.669998,175.089996,178.669998,53423100,0.0,0.0
2024-03-21 00:00:00-04:00,177.050003,177.490005,170.839996,171.369995,106181300,0.0,0.0
2024-03-22 00:00:00-04:00,171.759995,173.050003,170.059998,172.279999,71106600,0.0,0.0
2024-03-25 00:00:00-04:00,170.570007,171.940002,169.449997,170.850006,54288300,0.0,0.0
2024-03-26 00:00:00-04:00,170.000000,171.419998,169.580002,169.710007,57388400,0.0,0.0
2024-03-27 00:00:00-04:00,170.419998,173.600006,170.110001,173.309998,58586073,0.0,0.0

In [29]:
hist_msft = yf.Ticker('MSFT').history(period = f'{days}d')
hist_msft

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-03-14 00:00:00-04:00,420.239990,427.820007,417.989990,425.220001,34157300,0.0,0.0
2024-03-15 00:00:00-04:00,419.290009,422.600006,412.790009,416.420013,45049800,0.0,0.0
2024-03-18 00:00:00-04:00,414.250000,420.730011,413.779999,417.320007,20106000,0.0,0.0
2024-03-19 00:00:00-04:00,417.829987,421.670013,415.549988,421.410004,19837900,0.0,0.0
2024-03-20 00:00:00-04:00,422.000000,425.959991,420.660004,425.230011,17860100,0.0,0.0
2024-03-21 00:00:00-04:00,429.829987,430.820007,427.160004,429.369995,21296200,0.0,0.0
2024-03-22 00:00:00-04:00,429.700012,429.859985,426.070007,428.739990,17636500,0.0,0.0
2024-03-25 00:00:00-04:00,425.239990,427.410004,421.609985,422.859985,18060500,0.0,0.0
2024-03-26 00:00:00-04:00,425.609985,425.989990,421.350006,421.649994,16725600,0.0,0.0
2024-03-27 00:00:00-04:00,424.440002,424.450012,419.010010,421.429993,16690300,0.0,0.0

In [31]:
hist.head(3)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-03-14 00:00:00-04:00,172.910004,174.309998,172.050003,173.000000,72913500,0.0,0.0
2024-03-15 00:00:00-04:00,171.169998,172.619995,170.289993,172.619995,121664700,0.0,0.0
2024-03-18 00:00:00-04:00,175.570007,177.710007,173.520004,173.720001,75604200,0.0,0.0

In [32]:
hist.index

DatetimeIndex(['2024-03-14 00:00:00-04:00', '2024-03-15 00:00:00-04:00',
               '2024-03-18 00:00:00-04:00', '2024-03-19 00:00:00-04:00',
               '2024-03-20 00:00:00-04:00', '2024-03-21 00:00:00-04:00',
               '2024-03-22 00:00:00-04:00', '2024-03-25 00:00:00-04:00',
               '2024-03-26 00:00:00-04:00', '2024-03-27 00:00:00-04:00'],
              dtype='datetime64[ns, America/New_York]', name='Date', freq=None)

In [33]:
hist.index = hist.index.strftime('%d %B %Y')

Index(['14 March 2024', '15 March 2024', '18 March 2024', '19 March 2024',
       '20 March 2024', '21 March 2024', '22 March 2024', '25 March 2024',
       '26 March 2024', '27 March 2024'],
      dtype='object', name='Date')

In [45]:
hist = hist(['Close'])
hist.columns = ['apple']
hist.head()

TypeError: 'DataFrame' object is not callable

In [ ]:
hist.index.name = 'Name'

In [38]:
hist

                                aaple
Date
2024-03-14 00:00:00-04:00  173.000000
2024-03-15 00:00:00-04:00  172.619995
2024-03-18 00:00:00-04:00  173.720001
2024-03-19 00:00:00-04:00  176.080002
2024-03-20 00:00:00-04:00  178.669998
2024-03-21 00:00:00-04:00  171.369995
2024-03-22 00:00:00-04:00  172.279999
2024-03-25 00:00:00-04:00  170.850006
2024-03-26 00:00:00-04:00  169.710007
2024-03-27 00:00:00-04:00  173.309998