In [27]:
!pip3 install matplotlib

Requirement already satisfied: matplotlib in c:\users\sy_higas\l\anaconda3\lib\site-packages (3.7.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from matplotlib) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.20 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from matplotlib) (1.24.3)
Requirement already satisfied: packaging>=20.0 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from matplotlib) (9.4.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [28]:
!pip3 install yfinance

Requirement already satisfied: yfinance in c:\users\sy_higas\l\anaconda3\lib\site-packages (0.2.37)
Requirement already satisfied: pandas>=1.3.0 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from yfinance) (2.0.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from yfinance) (1.24.3)
Requirement already satisfied: requests>=2.31 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from yfinance) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from yfinance) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from yfinance) (2.4.0)
Requirement already satisfied: peewee>=3.16.2 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from yfinance) (3.17.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: six>=1.9 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\sy_higas\l\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2023.7.22)

In [29]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

%matplotlib inline

In [40]:



tickers = {
    'apple':'AAPL',
    'facebook': 'META',
    'google': 'GOOGL',
    'microsoft': 'MSFT',
    'netflix': 'NFLX',
    'amazon': 'AMZN'
}



def get_data(days, tickers):
    df = pd.DataFrame()
    for company in tickers.keys():
    #company = 'facebook'
    
        tkr = yf.Ticker(tickers[company])
        hist = tkr.history(period=f'{days}d')
        hist.index = hist.index.strftime('%d %B %Y')
        hist = hist[['Close']]
        hist.columns = [company]
        hist = hist.T
        hist.index.name = 'Name'
        df = pd.concat([df, hist])
    return df

In [42]:
days = 20
get_data(days, tickers)

Date,07 March 2024,08 March 2024,11 March 2024,12 March 2024,13 March 2024,14 March 2024,15 March 2024,18 March 2024,19 March 2024,20 March 2024,21 March 2024,22 March 2024,25 March 2024,26 March 2024,27 March 2024,28 March 2024,01 April 2024,02 April 2024,03 April 2024,04 April 2024
Name,,,,,,,,,,,,,,,,,,,,
apple,169.000000,170.729996,172.750000,173.229996,171.130005,173.000000,172.619995,173.720001,176.080002,178.669998,171.369995,172.279999,170.850006,169.710007,173.309998,171.479996,170.029999,168.839996,169.649994,168.820007
facebook,512.190002,505.950012,483.589996,499.750000,495.570007,491.829987,484.100006,496.980011,496.239990,505.519989,507.760010,509.579987,503.019989,495.890015,493.859985,485.579987,491.350006,497.369995,506.739990,510.920013
google,134.380005,135.410004,137.669998,138.500000,139.789993,143.100006,141.179993,147.679993,147.029999,148.740005,147.600006,150.770004,150.070007,150.669998,150.869995,150.929993,155.490005,154.559998,154.919998,150.529999
microsoft,409.140015,406.220001,404.519989,415.279999,415.100006,425.220001,416.420013,417.320007,421.410004,425.230011,429.369995,428.739990,422.859985,421.649994,421.429993,420.720001,424.570007,421.440002,420.450012,417.880005
netflix,608.510010,604.820007,600.929993,611.080017,609.450012,613.010010,605.880005,618.390015,620.739990,627.690002,622.710022,628.010010,627.460022,629.239990,613.530029,607.330017,614.309998,614.210022,630.080017,617.140015
amazon,176.820007,175.350006,171.960007,175.389999,176.559998,178.750000,174.419998,174.479996,175.899994,178.149994,178.149994,178.869995,179.710007,178.300003,179.830002,180.380005,180.970001,180.690002,182.410004,180.000000

In [43]:
!pip3 install altair

Requirement already satisfied: altair in c:\users\sy_higas\l\anaconda3\lib\site-packages (5.2.0)
Requirement already satisfied: jinja2 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from altair) (3.1.2)
Requirement already satisfied: jsonschema>=3.0 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from altair) (4.17.3)
Requirement already satisfied: numpy in c:\users\sy_higas\l\anaconda3\lib\site-packages (from altair) (1.24.3)
Requirement already satisfied: packaging in c:\users\sy_higas\l\anaconda3\lib\site-packages (from altair) (23.1)
Requirement already satisfied: pandas>=0.25 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from altair) (2.0.3)
Requirement already satisfied: toolz in c:\users\sy_higas\l\anaconda3\lib\site-packages (from altair) (0.12.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from jsonschema>=3.0->altair) (22.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from jsonschema>=3.0->altair) (0.18.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from pandas>=0.25->altair) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from pandas>=0.25->altair) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from pandas>=0.25->altair) (2023.3)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from jinja2->altair) (2.1.1)
Requirement already satisfied: six>=1.5 in c:\users\sy_higas\l\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=0.25->altair) (1.16.0)

In [107]:
import altair as alt

In [108]:
df

Date,07 March 2024,08 March 2024,11 March 2024,12 March 2024,13 March 2024,14 March 2024,15 March 2024,18 March 2024,19 March 2024,20 March 2024,21 March 2024,22 March 2024,25 March 2024,26 March 2024,27 March 2024,28 March 2024,01 April 2024,02 April 2024,03 April 2024,04 April 2024
Name,,,,,,,,,,,,,,,,,,,,
apple,169.000000,170.729996,172.750000,173.229996,171.130005,173.000000,172.619995,173.720001,176.080002,178.669998,171.369995,172.279999,170.850006,169.710007,173.309998,171.479996,170.029999,168.839996,169.649994,168.820007
facebook,512.190002,505.950012,483.589996,499.750000,495.570007,491.829987,484.100006,496.980011,496.239990,505.519989,507.760010,509.579987,503.019989,495.890015,493.859985,485.579987,491.350006,497.369995,506.739990,510.920013
google,134.380005,135.410004,137.669998,138.500000,139.789993,143.100006,141.179993,147.679993,147.029999,148.740005,147.600006,150.770004,150.070007,150.669998,150.869995,150.929993,155.490005,154.559998,154.919998,150.529999
microsoft,409.140015,406.220001,404.519989,415.279999,415.100006,425.220001,416.420013,417.320007,421.410004,425.230011,429.369995,428.739990,422.859985,421.649994,421.429993,420.720001,424.570007,421.440002,420.450012,417.880005
netflix,608.510010,604.820007,600.929993,611.080017,609.450012,613.010010,605.880005,618.390015,620.739990,627.690002,622.710022,628.010010,627.460022,629.239990,613.530029,607.330017,614.309998,614.210022,630.080017,617.140015
amazon,176.820007,175.350006,171.960007,175.389999,176.559998,178.750000,174.419998,174.479996,175.899994,178.149994,178.149994,178.869995,179.710007,178.300003,179.830002,180.380005,180.970001,180.690002,182.410004,180.000000

In [109]:
companies = ['apple', 'facebook']
data = df.loc[companies]
data

Date,07 March 2024,08 March 2024,11 March 2024,12 March 2024,13 March 2024,14 March 2024,15 March 2024,18 March 2024,19 March 2024,20 March 2024,21 March 2024,22 March 2024,25 March 2024,26 March 2024,27 March 2024,28 March 2024,01 April 2024,02 April 2024,03 April 2024,04 April 2024
Name,,,,,,,,,,,,,,,,,,,,
apple,169.000000,170.729996,172.750000,173.229996,171.130005,173.000000,172.619995,173.720001,176.080002,178.669998,171.369995,172.279999,170.850006,169.710007,173.309998,171.479996,170.029999,168.839996,169.649994,168.820007
facebook,512.190002,505.950012,483.589996,499.750000,495.570007,491.829987,484.100006,496.980011,496.239990,505.519989,507.760010,509.579987,503.019989,495.890015,493.859985,485.579987,491.350006,497.369995,506.739990,510.920013

In [110]:
data.sort_index()

Date,07 March 2024,08 March 2024,11 March 2024,12 March 2024,13 March 2024,14 March 2024,15 March 2024,18 March 2024,19 March 2024,20 March 2024,21 March 2024,22 March 2024,25 March 2024,26 March 2024,27 March 2024,28 March 2024,01 April 2024,02 April 2024,03 April 2024,04 April 2024
Name,,,,,,,,,,,,,,,,,,,,
apple,169.000000,170.729996,172.750000,173.229996,171.130005,173.000000,172.619995,173.720001,176.080002,178.669998,171.369995,172.279999,170.850006,169.710007,173.309998,171.479996,170.029999,168.839996,169.649994,168.820007
facebook,512.190002,505.950012,483.589996,499.750000,495.570007,491.829987,484.100006,496.980011,496.239990,505.519989,507.760010,509.579987,503.019989,495.890015,493.859985,485.579987,491.350006,497.369995,506.739990,510.920013

In [111]:
data = data.T.reset_index()
data.head()

Name           Date       apple    facebook
0     07 March 2024  169.000000  512.190002
1     08 March 2024  170.729996  505.950012
2     11 March 2024  172.750000  483.589996
3     12 March 2024  173.229996  499.750000
4     13 March 2024  171.130005  495.570007

In [112]:
data = pd.melt(data, id_vars=['Date']).rename(
    columns={'value': 'Stock Prices(USD)'}
)
data

             Date      Name  Stock Prices(USD)
0   07 March 2024     apple         169.000000
1   08 March 2024     apple         170.729996
2   11 March 2024     apple         172.750000
3   12 March 2024     apple         173.229996
4   13 March 2024     apple         171.130005
5   14 March 2024     apple         173.000000
6   15 March 2024     apple         172.619995
7   18 March 2024     apple         173.720001
8   19 March 2024     apple         176.080002
9   20 March 2024     apple         178.669998
10  21 March 2024     apple         171.369995
11  22 March 2024     apple         172.279999
12  25 March 2024     apple         170.850006
13  26 March 2024     apple         169.710007
14  27 March 2024     apple         173.309998
15  28 March 2024     apple         171.479996
16  01 April 2024     apple         170.029999
17  02 April 2024     apple         168.839996
18  03 April 2024     apple         169.649994
19  04 April 2024     apple         168.820007
20  07 March 2024  facebook         512.190002
21  08 March 2024  facebook         505.950012
22  11 March 2024  facebook         483.589996
23  12 March 2024  facebook         499.750000
24  13 March 2024  facebook         495.570007
25  14 March 2024  facebook         491.829987
26  15 March 2024  facebook         484.100006
27  18 March 2024  facebook         496.980011
28  19 March 2024  facebook         496.239990
29  20 March 2024  facebook         505.519989
30  21 March 2024  facebook         507.760010
31  22 March 2024  facebook         509.579987
32  25 March 2024  facebook         503.019989
33  26 March 2024  facebook         495.890015
34  27 March 2024  facebook         493.859985
35  28 March 2024  facebook         485.579987
36  01 April 2024  facebook         491.350006
37  02 April 2024  facebook         497.369995
38  03 April 2024  facebook         506.739990
39  04 April 2024  facebook         510.920013

In [125]:
ymin, ymax = 450, 550

chart = (
    alt.Chart(data)
    .mark_line(opacity=0.8, clip=True)
    .encode(
        x="Date:T",
        y=alt.Y("Stock Prices(USD):Q", stack=None, scale=alt.Scale(domain=[ymin, ymax])),
        color='Name:N'
    )
)

In [126]:
chart

alt.Chart(...)